@mixin small-up {
    @media (min-width: 640px) { @content; }
}

@mixin med-up {
    @media (min-width: 768px) { @content; }
}

@mixin lg-up {
    @media (min-width: 1024px) { @content; }
}

@mixin xl-up {
    @media (min-width: 1280px) { @content; }
}

@mixin xxl-up {
    @media (min-width: 1440px) { @content; }
}

@mixin _ep-container {
    
}
@mixin body_copy_styles {
    background: #fefefe;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #0a0a0a;
    -webkit-font-smoothing: antialiased;

    .alignleft {
        float: left;
        padding-right: 1rem;
        margin: 0;
    }
    blockquote,dd,div,dl,dt,form,h1,h2,h3,h4,h5,h6,li,ol,p,pre,td,th,ul {
        margin: 0;
        padding: 0
    }
    
    p {
        margin-bottom: 1rem;
        font-size: inherit;
        line-height: 1.6;
        text-rendering: optimizeLegibility
    }
    
    em,i {
        font-style: italic;
        line-height: inherit
    }
    
    b,strong {
        font-weight: 700;
        line-height: inherit
    }
    
    small {
        font-size: 80%;
        line-height: inherit
    }
    
    .h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
        font-style: normal;
        font-weight: 400;
        color: inherit;
        text-rendering: optimizeLegibility
    }
    
    .h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small,h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
        line-height: 0;
        color: #cacaca
    }
    
    .h1,h1 {
        font-size: 1.5rem;
        line-height: 1.4;
        margin-top: 0;
        margin-bottom: .5rem
    }
    
    .h2,h2 {
        font-size: 1.25rem;
        line-height: 1.4;
        margin-top: 0;
        margin-bottom: .5rem
    }
    
    .h3,h3 {
        font-size: 1.1875rem;
        line-height: 1.4;
        margin-top: 0;
        margin-bottom: .5rem
    }
    
    .h4,h4 {
        font-size: 1.125rem;
        line-height: 1.4;
        margin-top: 0;
        margin-bottom: .5rem
    }
    
    .h5,h5 {
        font-size: 1.0625rem;
        line-height: 1.4;
        margin-top: 0;
        margin-bottom: .5rem
    }
    
    .h6,h6 {
        font-size: 1rem;
        line-height: 1.4;
        margin-top: 0;
        margin-bottom: .5rem
    }
    
    @media print,screen and (min-width: 64em) {
        .h1,h1 {
            font-size:3rem
        }
    
        .h2,h2 {
            font-size: 2.5rem
        }
    
        .h3,h3 {
            font-size: 1.9375rem
        }
    
        .h4,h4 {
            font-size: 1.5625rem
        }
    
        .h5,h5 {
            font-size: 1.25rem
        }
    
        .h6,h6 {
            font-size: 1rem
        }
    }
    
    a {
        line-height: inherit;
        color: #898c75;
        font-weight: 900;
        text-decoration: none;
        cursor: pointer
    }
    
    a:focus,a:hover {
        color: #6d6f5e
    }
    
    a img {
        border: 0
    }
    
    hr {
        clear: both;
        max-width: 75rem;
        height: 0;
        margin: 1.25rem auto;
        border-top: 0;
        border-right: 0;
        border-bottom: 1px solid #cacaca;
        border-left: 0
    }
    
    dl,ol,ul {
        margin-bottom: 1rem;
        list-style-position: outside;
        line-height: 1.6
    }
    
    li {
        font-size: inherit
    }
    
    ul {
        margin-left: 1.25rem;
        list-style-type: disc
    }
    
    ol {
        margin-left: 1.25rem
    }
    
    ol ol,ol ul,ul ol,ul ul {
        margin-left: 1.25rem;
        margin-bottom: 0
    }
    
    dl {
        margin-bottom: 1rem
    }
    
    dl dt {
        margin-bottom: .3rem;
        font-weight: 700
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 0
    }

    tbody,tfoot,thead {
        border: 1px solid #f1f1f1;
        background-color: #fefefe
    }

    caption {
        padding: .5rem .625rem .625rem;
        font-weight: 700
    }

    thead {
        background: #f8f8f8;
        color: #0a0a0a
    }

    tfoot {
        background: #f1f1f1;
        color: #0a0a0a
    }

    tfoot tr,thead tr {
        background: 0 0
    }

    tfoot td,tfoot th,thead td,thead th {
        padding: .5rem .625rem .625rem;
        font-weight: 700;
        text-align: left
    }

    tbody td,tbody th {
        padding: .5rem .625rem .625rem
    }

    tbody tr:nth-child(even) {
        border-bottom: 0;
        background-color: #f1f1f1
    }

    table.unstriped tbody {
        background-color: #fefefe
    }

    table.unstriped tbody tr {
        border-bottom: 0;
        border-bottom: 1px solid #f1f1f1;
        background-color: #fefefe
    }

    @media screen and (max-width: 74.9375em) {
        table.stack thead {
            display:none
        }

        table.stack tfoot {
            display: none
        }

        table.stack td,table.stack th,table.stack tr {
            display: block
        }

        table.stack td {
            border-top: 0
        }
    }

    table.scroll {
        display: block;
        width: 100%;
        overflow-x: auto
    }

    table.hover thead tr:hover {
        background-color: #f3f3f3
    }

    table.hover tfoot tr:hover {
        background-color: #ececec
    }

    table.hover tbody tr:hover {
        background-color: #f9f9f9
    }

    table.hover:not(.unstriped) tr:nth-of-type(even):hover {
        background-color: #ececec
    }

    .table-scroll {
        overflow-x: auto
    }

    .table-scroll table {
        width: auto
    }

}