.footer {
    background: $color_1;
    color: white;

    &__logo {
        max-width: 10rem;
    }

    &__title {
        position: relative;

        &::after {
            content: " ";
            display: block;
            width: 100%;
            max-width: 6rem;
            bottom: -3px;
            height: 2px;
            background: $color_2;
            position: absolute;
        }
    }

    &__block {
        min-width: 40%;
        margin-bottom: 1rem;

        @include med-up {
            min-width: none;
            margin-bottom: 0rem;
        }
    }

    &__social {
        opacity: 1;
        transition: all ease-in-out 250ms;

        &:hover {
            opacity: 0.8;
        }
    }
    &__bottom  {
        background-color: $color_3;

        img {
            background-color: white;
        }
    }
}