#header {
    position: absolute;
    z-index: 3;
    height: auto;
    width: 100%;
    background-color: rgba(14, 85, 63, 0);
    transition: all ease-in-out 250ms;

    &.sem-landing-header {
        background-color: rgba(14, 85, 63, 1);
    }

    &.scroll {
        position: fixed;
        background-color: rgba(14, 85, 63, 1);
        height: 7rem;
        top: 0;
    }

    .main-logo {
        width: fit-content;

        &__image {
            max-width: 5rem;

            @include lg-up {
                max-width: 7rem;
            }
        }
    }

    .veterans {
        width: fit-content;
        display: none;

        @include lg-up {
            display: block;
        }

        &__link {
            max-width: 4.5rem;
        }

        &__image {
            max-width: 4.5rem;
        }
    }

    .hamburger-menu {
        display: block;
        width: 2.25rem;
        position: relative;
        height: 18px;

        &.active {
            z-index: 11;
            span {
                top: 50%;

                &:first-of-type {
                    top: 50%;
                    transform: rotate(-45deg);
                }
                &:nth-of-type(2) {
                    opacity: 0;
                }
                &:last-of-type {
                    top: 50%;
                    transform: rotate(-135deg);
                }
            }
        }
        span {
            position: absolute;
            display: block;
            width: 100%;
            background-color: white;
            height: 4px;
            top: calc(50%);
            transition: all ease-in-out 250ms;

            &:first-of-type {
                top: 0;
                transition: all ease-in-out 250ms;
                transform: rotate(0);
            }
            &:nth-of-type(2) {
                opacity: 1;
            }
            &:last-of-type {
                top: 100%;
                transition: all ease-in-out 250ms;
                transform: rotate(0);
            }
        }
        @include lg-up {
            display: none;
        }
    }
}