#header {
    position: absolute;
    z-index: 1;
    width: 100%;

    .main-logo {
        width: fit-content;

        &__image {
            max-width: 13rem;
        }
    }

    .veterans {
        width: fit-content;
        &__link {
            max-width: 4.5rem;
        }
        &__image {
            max-width: 4.5rem;
        }
    }
}