.main-navigation {
    justify-content: center;
    display: none;

    @include lg-up {
        display: flex;
    }
    .main-navigation-list {
        display: flex;
        flex-direction: row;
    }

    .main-navigation-link {
        color: white;
        text-decoration: none;
        white-space: nowrap;

        span {
            position: relative;


            &::after {
                content: "";
                display: block;
                background-color: #fb9d00;
                position: absolute;
                display: block;
                width: 0%;
                left: 0;
                height: 1px;
                transition: all ease-in-out 250ms;

            }
        }

        &:hover {
            span {
                &:after {
                    width: 100%;      
                }
            }
        }
    }
}