.mobile-nav {
    display: block;
    height: 100vh;
    background: $bay_red;
    width: 80vw;
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0;
    overflow: scroll;
    transition: all ease-in-out 250ms;
    transform: translateX(-100%);

    &.active {
        transform: translateX(0%);
    }
    @include lg-up {
        display: none;
    }
    
    .logo {
        &__link {
            display: block;
            max-width: 11rem;
        }
    }
    &__link {
        color: white;
    }
    
    button {
        color: white;
        transform: rotate(0deg);
        transition: all ease-in-out 250ms;

        &.active {
            transform: rotate(180deg);
        }
    }
    &__sub {
        max-height: 0;
        overflow: hidden;

        &.active {
            max-height: fit-content;
        }
    }

    &__sub-link {
        color: white;
    }
}