.mobile-nav {
    display: block;
    height: 100vh;
    background-color: #f99d26;
    width: 80vw;
    position: absolute;
    z-index: 10;
    top: -90px;
    left: 0;
    transition: all ease-in-out 250ms;
    transform: translateX(-100%);

    &.active {
        transform: translateX(0%);
    }
    @include med-up {
        display: none;
    }
    
    &__link {
        color: white;
    }
    
    button {
        color: white;
        transform: rotate(0deg);
        transition: all ease-in-out 250ms;
        &.active {
            transform: rotate(180deg);
        }
    }
    &__sub {
        max-height: 0;
        overflow: hidden;

        &.active {
            max-height: fit-content;
        }
    }

    &__sub-link {
        color: white;
    }
}