.top-banner {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    background: $color_1;
    margin-bottom: 0;
    color: #FFF;
    height: 45px;
    font-weight: 900;
    font-family: Oswald,sans-serif;
    font-size: 1.2rem;
    position: relative;
    z-index: 1;
    transition: all ease-in-out 250ms;

    &.scroll-hide {
        height: 0;
        overflow: hidden;
    }
}