.body-copy {
    &__wrap {

        &.sidebar {
            display: flex;
            flex-direction: column;

            @include med-up {
                flex-direction: row;
            }
        }
    }

    &__content {
        max-width: 100%;
        margin-right: 0%;

        @include body_copy_styles;

        &.sidebar {
            max-width: 100%;
            margin-right: 0%;
            @include med-up {
                max-width: 65%;
                margin-right: 2.5%;
            }
        }
    }

    &__sidebar {
        max-width: 100%;
        margin-left: 0%;
        background: #73584c;
        height: fit-content;

        @include med-up {
            max-width: 30%;
            margin-left: 2.5%;           
        }

        &-title {
            font-family: Oswald,sans-serif;
            font-weight: 100;
            text-transform: uppercase;
            font-size: 2rem;
            text-align: center;
            background: #a19383;
            color: #fff;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

        &-form {
            padding: 1rem;
        }
    }
}