.feature-cards {
    .feature-card {
        position: relative;
        overflow: hidden;

        &__content {
            color: white;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                background-color: rgba(0, 0, 0, 0.3);
            }
        }

        &__title {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transform: translateY(-0%);
            opacity: 1;
            transition: all ease-in-out 500ms;

            h2 {
                position: relative;
                transform: translateX(0);
                transition: all ease-in-out 500ms;

                &:after {
                    content: "";
                    display: block;
                    width: 20%;
                    margin: 0 auto;
                    height: 2px;
                    background-color: $color_2;
                }
            }

            h3 {
                transform: translateX(0);
                transition: all ease-in-out 500ms;
            }
        }

        &__copy {
            transition: all ease-in-out 500ms;
            opacity: 0;
            transform: translateY(100%);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            font-size: 1.2rem;
        }

        &:hover {
            .feature-card {
                &__title {
                    opacity: 0;

                    h2 {
                        transform: translateX(-100%);
                    }

                    h3 {
                        transform: translateX(100%);
                    }
                }
                &__copy {
                    transition: all ease-in-out 500ms;
                    opacity: 1;
                    transform: translateY(0%);
                }
            }
        }
    }
}