.featured-images {
    &__image {
        filter: brightness(100%);
        transition: all ease-in-out 250ms;

        &:hover {
            filter: brightness(90%);
        }
    }

    &__cta {
        background-color: $color_2;
        color: $color_3;
    }
}