.hero-main {
    width: 100%;
    height: 80vh;

    @include lg-up {
        height: calc(100vh - 90px);
    }

    .slick-slider {

        .slick-slide {
            position: relative;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                max-height: 80vh;

                @include lg-up {
                    max-height: 50vh;
                    height: auto;
                    max-height: calc(100vh - 90px);
                }
            }
            .hero-slide-wrap {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0, 0.3);
                    z-index: 1;
                }
            }
            .hero-slide-content {
                position: absolute;
                left: 0;
                right: 0;
                text-align: center;
                max-width: 80%;
                margin: 0 auto;
                top: 50%;
                font-family: Oswald;
                color: white;
                transform: translateY(-50%);
                z-index: 2;
            }
        }
    }

    &__cta {
        background-color: $color_2;
        color: $color_3;

        &:hover {
            i {
                opacity: 1;
                width: auto;
                visibility:visible;
                transform: translateX(0px);
            }
        }
        i {
            opacity: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            transition: all ease-in-out 250ms;
            transform: translateX(-5px);
        }
    }
}