.hero-main {
    width: 100%;
    height: 80vh;

    @include med-up {
        height: calc(100vh - 90px);
    }

    .slick-slider {

        .slick-slide {
            position: relative;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                max-height: 80vh;

                @include med-up {
                    height: auto;
                    max-height: calc(100vh - 90px);
                }
            }

            .hero-slide-content {
                position: absolute;
                left: 0;
                right: 0;
                text-align: center;
                max-width: 80%;
                margin: 0 auto;
                top: 50%;
                font-family: Oswald;
                color: white;
                transform: translateY(-50%);
            }
        }
    }

    &__cta {
        background-color: #fb9d00;
        color: white;
    }
}