.image-text {

    &__container {
        width: 100%;
        display: block;
        position: relative;

        @include med-up {
            display: flex;
            flex-direction: row;

        }

        &.right {
            flex-direction: row-reverse;
        }
    }
    &__col {
        width: 100%;
        @include med-up { 
            width: 50%;
        }

        &.image {
            position: relative;

            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                background-color: rgba(0, 0, 0, 0.3);
                @include med-up { 
                    display: none;
                }
            }

            img {
                object-fit: cover;
                height: 70vh;

                @include med-up { 
                    object-fit: none;
                    height: auto;
                }
            }
        }
        &.content {
            padding-left: 3rem;
            padding-right: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            color: white;
            top: 5%;

            @include med-up {
                top: 0;
            }

            @include med-up { 
                color: black;
                padding-left: 5rem;
                padding-right: 3rem;
                position: static;
            }
        }
    }
}