.image-text {

    &__container {
        width: 100%;
        display: flex;
        flex-direction: row;

        &.right {
            flex-direction: row-reverse;
        }
    }
    &__col {
        width: 50%;

        &.content {
            margin-top: 12rem;
            padding-left: 5rem;
        }
    }
}