.hero-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .slick-slider {
        height: 100vh;

        .slick-slide {
            img {
                width: 100%;
            }
        }
    }
}