.cta {
    
}

.main-navigation-link.nav-btn {
    background-color: #fb9d00;
    color: white;
    border: 1px solid transparent;
    transition: all ease-in-out 250ms;

    &:hover {
        color: #fb9d00 !important;
        background-color: white !important;
        border: 1px solid #fb9d00 !important;
    }
}